:root {
    --secondary: #5ec3b6;
    --tertiary: #e2e2e2;
    --black: #212020;
    --red:  #fa8072;

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Source Sans Pro', 'helvtica', 'arial';
    font-size: 22px;
    font-weight: 500;
}
p {
    margin: 1.9rem 0;
    font-weight: 300;
    font-size: 1.9rem
}

h1 {
    color: var(--tertiary);
    font-size: 9rem;
    font-family: 'Oswald';
    position: absolute;
    top: 18rem;
    right: 50rem;
}
h2{
    padding-top: 10px;
    color: white;
    font-size: 2.2rem;
    text-align: center;
    font-weight: 200;
}
h3{
    font-family: 'Oswald','Helvetica neue', arial, sans-serif;
    font-size: 4rem;
    border-bottom: 1px dashed var(--black);

}
h4 {
    padding-bottom: 3rem;
    font-size: 3rem
}

.row {
    width: 80%;
    margin: auto;
    padding: 1.9rem;
}



.contact-nav{
    background-color: var(--secondary);
    width: 11rem;


}
.leftnav{
    display: flex;
}

.contact-nav a{
    text-decoration: none;
    color: var(--black);
}

.contact-nav:hover{
    background-color: var(--tertiary);


}
#current{
    background-color: var(--tertiary);
}

.results {
    background-color: var(--tertiary);
    height: 16rem;
}

.results-message {
    width: 80%;
    margin: 1.9rem auto 0rem auto;
    padding: 1.9rem 0;
}

.navcontainer{

    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: 4.5rem;

}

.grey {
    width: 100%;
    height: 45rem;
    background-image: linear-gradient(#5ec4b6, #0aaf97);
}

.main-nav {

    background-color: var(--black);

    width: 100%;
}



.container{
    background-color: var(--secondary);
    width: 100%;
}

.form {
    background-color: var(--tertiary);
    padding-top: 10rem;
}


.button {
    padding: 1.5rem 3rem;
    font-size: 1.9rem;
    background-color: var(--black);
    ;
    border-radius: .5rem;
    color: white;
    border: 2px solid var(--black);
    ;
    margin-bottom: 1rem;
    height: auto;
}

.button:hover {
    background-color: var(--black);
    ;
    transition-duration: .3s;
    background-color: var(--secondary);
    cursor: pointer;
    color: var(--black);
    ;
}

.item-container {
    display: flex;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    counter-reset: section;
    position: relative;
    background-color: var(--tertiary);
}

.display {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25rem;
    margin: 0rem 1rem;
}



.formtext {
    height: 5.5rem;
    font-weight: 900;
}

.rb-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rb {
    display: flex;
    color: var(--black);
    font-weight: 500;
    margin-bottom: 25px;
}

.rb input {
    width: 0;
    height: 0;
    /*I'm changing the opacity so it is still on screen - screen readers can still read this  */
    opacity: 0;
}

.rb .rb-field {
    width: 3.4rem;
    height: 3.4rem;
    background-color: white;
    position: relative;
    border: 2px solid var(--black);
}

.rb .rb-text {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: .5em;
}

.rb-text {
    font-size: 1.9rem
}

.rb .rb-field {
    border-radius: 100%;
}

.rb.fill input:checked+span:before {
    width: 70%;
    height: 70%;
    top: 15%;
    left: 15%;
}

.rb.fill .rb-field:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    background-color: var(--black);
    ;
    border-radius: 100%;
    transition: all .2s cubic-bezier(.45, .05, 0, 1.98);
}

.rb.outline .rb-field {
    background-color: transparent;
    border: .9em solid var(--secondary);
}

.rb.outline .rb-field:before {
    content: '';
    position: absolute;
    border-radius: 100%;
    background-color: black;
    width: 0;
    height: 0;
    top: .5em;
    left: .5em;
    transition: all .2s cubic-bezier(.45, .05, 0, 1.98);
}

.footer {
    height: 20rem;
    width: 100%;
    background-color: var(--tertiary);
}

@media screen and (max-width: 600px) {
    .item-container {
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .display {
        flex: 1;

    }
}

/* HEADER */
.content {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 2.5fr 1fr 1fr 1fr;
    padding: 9.5rem 0;

}

@media screen and (max-width: 960px) {
    .content {
        grid-template-columns: 2fr 2fr;
    }
}

ol {
    counter-reset: listNumbering;
    list-style: none;
    padding: 0 1rem;
}

li {
    font-size: 1em;
    counter-increment: listNumbering;
}

li:before {
    content: counter(listNumbering, decimal);
    display: block;
    font-family: Oswald, sans-serif;
    font-size: 11rem;
    font-weight: 700;
    text-align: center;
    color: var(--black);
}

.home-image{
    width: 25rem;
    border: 15px solid var(--secondary);
}

.summary {
    color: var(--black);
    border-top: 1px dashed var(--black);
    border-bottom: 1px dashed var(--black);
    font-family: "Source Sans Pro", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.15rem;
    padding: .5rem 0;
    text-align: center;

}

.fa-arrow-right {
    font-size: 3rem;
    color: var(--black);
    ;
}

.arrowlink {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.9rem;
}

@keyframes example {
    0% {
        left: 0;
    }

    50% {
        left: 1.9rem;
    }

    75% {
        right: 1.9rem;
    }
}

.arrowlink:hover {
    animation-name: example;
    animation-duration: 1s;
}

.questionmark {

   background-image: url(questionmark.svg);
   background-size: 38px 38px;
    padding: 1em;
    background-repeat: no-repeat;

    width: 3rem;
}

.tooltip {
    width: 14rem;
    padding: 1rem;
  background-color: var(--tertiary);
  color: black;
  text-align: center;
  opacity: 0;

  border-radius: 6px;
   z-index: 1;

    font: 0.65em Arial, Helvetica, sans-serif;
    display: block;
    position: absolute;
    right: 2rem;

top: -8.3rem;

}
.tooltip::after{
content: "";
  position: absolute;
  top: 100%;
  left: 80%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: var(--tertiary) transparent transparent transparent;
}

.formcontainer{
    padding: 4rem;
    margin: auto;
    background-color: white;
    width: 65rem;
}

.tool {

    position: absolute;
    top: 67.6rem;

margin-left: -2.3rem;


}

.container-white{
    padding: 5rem;
}

.contact-form-body {

    width: 100%;
    height: auto;
    background-color: var(--secondary);

}
.main-content{
    padding: 4rem;

    margin: auto;
    width:auto;
    background-color: var(--secondary);
}
.contact-form {
    width: 55rem;




        background-color: white;
        padding: 3rem;


}

.error {
    display: block;
    align-self: center;

    margin-left: 1rem;
    color: var(--red);
    font-size: 1.8rem;

}


.forminput {

    height: 5.5rem;

   display: flex;

    margin-bottom: 1.5rem;
    width: 100%
}

.label {
    width: 27rem;

    height: 3rem;
    align-self: flex-end;
    display: inline-block;
    font-size: 1.9rem;
}

.backgroundred{
    background-color: #fec1b8;
}
select{
    font-size: 1.9rem;
}
input {
    border: 1px solid var(--black);
    height: 5rem;
    width: 23rem;
    /* margin: 10px 0 0 0; */
    padding: 1%;
    font-size: 1.8rem;
    line-height: 1.5em;
    color: var(--black);
    letter-spacing: .01em;
    font-style: normal;
    font-weight: 300;
    font-family: 'Source Sans Pro';
    display: inline-block;
    margin-bottom: 2rem;
    border-radius: .2rem;
}

.focusgreen {
    background-color: #cdede6;
}
